<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>登录</title>
		<link rel="stylesheet" href="${ctx!}/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="${ctx!}/css/login.css" />
	</head>

	<body class="beg-login-bg">
		<div class="beg-login-box">
			<header>
				<h1>后台登录</h1>
			</header>
			<div class="beg-login-main">
				<form action="${ctx!}/admin/login" class="layui-form" method="POST">
					<div class="layui-form-item">
						<label class="beg-login-icon">
                        <i class="layui-icon">&#xe612;</i>
                    </label>
						<input type="text" name="userName" lay-verify="required|email" autocomplete="off" placeholder="这里输入登录名" class="layui-input">
					</div>
					<div class="layui-form-item">
						<label class="beg-login-icon">
                        <i class="layui-icon">&#xe642;</i>
                    </label>
						<input type="password" name="password" lay-verify="required|pass" autocomplete="off" placeholder="这里输入密码" class="layui-input">
					</div>
					<div class="layui-form-item">
						<div class="beg-pull-left beg-login-remember">
							<label>记住帐号？</label>
							<input type="checkbox" name="keepLogin" value="true" lay-skin="switch" checked title="记住帐号">
						</div>
						<div class="beg-pull-right">
							<button class="layui-btn layui-btn-primary" lay-submit lay-filter="login">
                            <i class="layui-icon">&#xe650;</i> 登录
                        </button>
						</div>
						<div class="beg-clear"></div>
					</div>
				</form>
			</div>
			<footer>
<!-- 				<p>Beginner © www.zhengjinfan.cn</p> -->
			</footer>
		</div>
		<script type="text/javascript" src="${ctx!}/plugins/layui/layui.js"></script>
		<script>
			layui.config({
				base: '${ctx!}/js/component/'
			}).use(['layer', 'form','common'], function() {
				var layer = layui.layer,
				$ = layui.jquery,
				form = layui.form(),
				common = layui.common;
					
				form.verify({
					pass: [/^[\S]{6,12}$/,'密码必须6到12位，且不能出现空格'] 
				});
				
				form.on('submit(login)',function(data){
					$.ajax({
					   type: "POST",
					   url: "${ctx!}/admin/login",
					   data: data.field,
					   success: function(msg){
						   if(msg.code == 0){
							   common.msgSuccess(msg.message,function(){
						   			window.location.href = "${ctx!}/admin/index";
						   		});
						   }else{
							   common.msgError(msg.message);
						   }
					   },
					   error :function(msg){
						   common.msgError("连接服务器失败");
					   }
					});
					return false;
				});
			});
		</script>
	</body>

</html>